/* TAGS */
html, body {
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-size: small;
}
a:hover {
    color: grey;
    font-size: small;
}

hr {
    height: 1px;
    background-color: rgb(219, 215, 215);
    border: none;
}
h3 {
    color: rgb(151, 52, 52);
    margin-left:50px;
    font-weight: lighter;
}
h5 {
    margin-left:50px;
}
form {
    width:1200px;
}

p {
    font-size: x-small;
}
label {
    font-size: small;
}
p, label{
    margin:0px;
    padding: 10px 0px;
}

input,select {
    margin: 5px;
}

input:focus {
    outline: none !important;
    border:1px solid #4787ed;
}
/* CLASSES */
.flex_list_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px;
    margin: 10px;
    color: rgb(170, 170, 170);
    font-size: small;
}

.flex_item_list li{
    margin: 5px;
    display: inline;
}

.advance {
    margin-left:50px;
    margin-bottom:20px;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 230px auto 500px;
}

.advance_items {
    display: grid;
    flex-direction: column;
}

/* IDS */
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
#logo {
    height: 20%;
}
#search_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    margin-bottom: 200px;
}

#search_items img, #buttons {
    margin: 40px;
}

#search_input {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#search_field {
    width: 525px;
    height: 40px;
    font-size: medium;
    border:1px solid rgb(209, 208, 208);
    border-radius: 25px;
    padding-left: 25px;
}

#search_field:focus {
    outline: none !important;
    border:1px solid rgb(209, 208, 208);
    border-radius: 25px;
}

#buttons input{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border:0px solid rgb(209, 208, 208);
    border-radius: 5px;
}

#buttons input:hover {
    background-color: rgb(238, 237, 237);
    border:1px solid rgb(209, 208, 208);
    border-radius: 5px;
}

#advance_button {
    /* I am tired and do not want to use big brain energy to 
        make this more acceptable. I may never fix this tbh.
        Forgive me Code Father, for I have sinned and keeping it this way. */
    margin-left:570px;
    margin-bottom:20px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
    box-shadow: none;
    height: 30px;
    width:120px;
}
#advance_button:hover {
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}
#advance_section {
    display: flex;
    flex-grow: 2;
}
#footer {
    align-content: flex-end;
}

#helper {
    display: flex;
    flex-direction: row;
}

